/*   
rgb(21, 32, 43)
#32414d
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: rgb(21, 32, 43);
  font-family: "Helvetica", "Arial", sans-serif;
}
.hidden {
  display: none !important;
}
.container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  border: 1px solid #4e4e4e;
  display: flex;
  flex-direction: column;
}
.post-sticky-heading {
  border-bottom: 1px solid #4e4e4e;
  display: flex;
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: rgb(21, 32, 43);
  z-index: 999;
}
.post-sticky-heading i {
  color: #f6f6f6;
  font-size: 2.4rem;
  cursor: pointer;
}

.post-sticky-heading p {
  font-size: 2rem;

  color: #f6f6f6;
  justify-self: center;
}
.chats-continer {
  list-style-type: none;
}
.chat {
  padding: 1.5rem;
  border-bottom: 1px solid #4e4e4e;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}
.chat:hover {
  background-color: #dddddd2d;
}
.chat-img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.chat-icon {
  margin-left: auto;
  font-size: 2rem;
  color: #f6f6f6;
}
.chat-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
}
.chat-name {
  color: #f6f6f6;
  font-size: 1.7rem;
}
.new-msg {
  color: #a50f0f;
  font-size: 1.4rem;
}
/* PRIVATE CHAT */
.private-chat {
  padding: 1rem;
  list-style-type: none;
  height: 82vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.message {
  border: 1px solid #ddd;
  width: 40%;
  padding: 1.4rem;
  border-radius: 26px;
}
.message-right {
  align-self: flex-end;
}

.message-from {
  font-size: 1.8rem;
  color: #ddd;
}
.message-text {
  font-size: 1.6rem;
  color: #9c9c9c;
  padding: 0.3rem;
}

/* Scrollbar styling */
.private-chat::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

.private-chat::-webkit-scrollbar-track {
  background: #2e2e2e; /* Dark background for the track */
  border-radius: 10px;
}

.private-chat::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    rgb(21, 32, 43),
    rgb(62, 82, 102)
  ); /* Gradient effect */
  border-radius: 10px;
}

.msg-form {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;

  border: 1px solid #4e4e4e;
  border-right: none;
  border-left: none;
  padding: 1rem;
}
.msg-input {
  flex-grow: 1;
  background-color: transparent;
  color: #f6f6f6;
  border: 1px solid #f6f6f6;
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 16px;
}
.send-msg-btn {
  background-color: transparent;
  color: #f6f6f6;
  border: 1px solid #f6f6f6;
  padding: 0 2rem;
  font-size: 1.6rem;
  border-radius: 16px;
  cursor: pointer;
}
