/*   
rgb(21, 32, 43)
#32414d
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: rgb(21, 32, 43);
  font-family: "Roboto";
}
.hidden {
  display: none !important;
}

.container {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.menu-section {
  border-left: 1px solid #4e4e4e;
  position: fixed;
  height: 100vh;
}

/* MENU */
.menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 1rem 2rem;
  gap: 1rem;
  height: 100%;
}
.menu-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: fit-content;
  padding: 1.2rem;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.4s;
}
.menu-item:hover {
  background-color: #c4c4c425;
}
.menu-icon {
  color: #f6f6f6;
  font-size: 2.4rem;
}

.menu-item-text {
  font-size: 1.8rem;
  color: #ddd;
}

.menu-post-btn {
  background-color: #1da1f2;
  border: none;
  color: #f6f6f6;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem 0rem;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.4s;
}

.menu-post-btn:hover {
  background-color: #1a88cc;
}
.menu-profile-div {
  padding: 0.5rem;
  border-radius: 12px;
  transition: all 0.4s;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.menu-profile-div:hover {
  background-color: #c4c4c425;
}
.menu-profile-img {
  height: 3.3rem;
  width: 3.3rem;
  border-radius: 50%;
}
.menu-profile-username {
  font-size: 1.6rem;
  color: #ddd;
}
/* chat section */
.chat-section {
  border: 1px solid #4e4e4e;
  grid-column: 2;
}
.chat-img {
  height: 4rem;
  pointer-events: none;
}

/*  */
.post-sticky-heading {
  border-bottom: 1px solid #4e4e4e;
  display: flex;
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: rgb(21, 32, 43);
  z-index: 999;
  align-items: center;
}
.post-sticky-heading i {
  color: #f6f6f6;
  font-size: 2.4rem;
  cursor: pointer;
}
.icon-div {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.post-sticky-heading p {
  font-size: 2rem;

  color: #f6f6f6;
  justify-self: center;
}
.chats-continer {
  list-style-type: none;
}
.chat {
  padding: 1.5rem;
  border-bottom: 1px solid #4e4e4e;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}
.chat:hover {
  background-color: #dddddd2d;
}
.chat-img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.chat-icon {
  margin-left: auto;
  font-size: 2rem;
  color: #f6f6f6;
}
.chat-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
  pointer-events: none;
}
.chat-name {
  color: #f6f6f6;
  font-size: 1.7rem;
  pointer-events: none;
}
.new-msg {
  color: #a50f0f;
  font-size: 1.4rem;
}
/* PRIVATE CHAT */
.private-chat {
  padding: 1rem;
  list-style-type: none;
  height: 82vh;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  overflow-y: scroll;
  position: relative;
}

.message {
  border: 1px solid #9c9c9c;
  width: 40%;
  padding: 1.4rem;
  border-radius: 26px;
}
.message-right {
  align-self: flex-end;
}

.message-from {
  font-size: 1.8rem;
  color: #ddd;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
}
.message-from span {
  font-weight: normal;
  font-size: 1.4rem;
  color: #4e4e4e;
}
.message-text {
  font-size: 1.6rem;
  color: #b1b1b1;
  padding: 0.3rem;
}

/* Scrollbar styling */
.private-chat::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

.private-chat::-webkit-scrollbar-track {
  background: #2e2e2e; /* Dark background for the track */
  border-radius: 10px;
}

.private-chat::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    rgb(21, 32, 43),
    rgb(62, 82, 102)
  ); /* Gradient effect */
  border-radius: 10px;
}

.msg-form {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;

  border: 1px solid #4e4e4e;

  border-right: none;
  border-left: none;
  padding: 1.5rem;
}
.msg-input {
  flex-grow: 1;
  background-color: transparent;
  color: #f6f6f6;
  border: 1px solid #f6f6f6;
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 16px;
}
.send-msg-btn {
  background-color: transparent;
  color: #f6f6f6;
  border: 1px solid #f6f6f6;
  padding: 0 2rem;
  font-size: 1.6rem;
  border-radius: 16px;
  cursor: pointer;
}
.start-chat-popup {
  z-index: 9999;
  position: fixed;
  background-color: #202b35;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 60%;
  width: 60%;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.start-chat-h3 {
  color: #ddd;
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem;
  border-bottom: 1px solid #fff;
  width: 100%;
  margin-bottom: 1rem;
}
.close-popup-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #ddd;
  font-size: 2.4rem;
  cursor: pointer;
}
.search-form {
  width: 85%;

  display: flex;
  align-items: center;
}
.search-input {
  flex-grow: 1;
  background-color: transparent;
  border: 1px solid #4e4e4e;
  border-radius: 12px;
  padding: 1rem;
  color: #fff;
}
.search-button {
  padding: 1rem;
  margin-left: 0.5rem;
  background-color: #1a88cc;
  color: #f6f6f6;
  font-weight: bold;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
.users-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #1a88cc rgb(21, 32, 43);
  margin-top: 1rem;
  border-top: 1px solid #4e4e4e;
}
.user-picture {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: #9c9c9c;
  pointer-events: none;
}
.user-item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0.8rem 1.7rem;

  border-bottom: 1px solid #4e4e4e;
  cursor: pointer;
}
.user-item:hover {
  background-color: #c4c4c425;
}
.user-username {
  font-size: 1.6rem;
  color: #ddd;
  pointer-events: none;
}

/* spinner */
.private-chat-spinner {
  position: absolute;
  left: 45%;
  top: 30%;
  width: 5.3rem; /* Adjust size as needed */
  height: 5.3rem;
  border: 0.7rem solid rgba(0, 0, 0, 0.1); /* Light border */
  border-top: 0.7rem solid #3498db; /* Highlighted border for spinning effect */
  border-radius: 50%; /* Makes it circular */
  animation: spin 1s linear infinite; /* Spinner animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 700px) {
  .start-chat-popup {
    top: 0;
    left: 0;
    transform: none;
    height: 100%;
    width: 100%;
  }
}
