/*   
rgb(21, 32, 43)
#32414d
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: rgb(21, 32, 43);
  font-family: "Helvetica", "Arial", sans-serif;
}
.hidden {
  display: none !important;
}

.container {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.menu-section {
  border-left: 1px solid #4e4e4e;
  position: fixed;
  height: 100vh;
}

/* MENU */
.menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 1rem 2rem;
  gap: 1rem;
  height: 100%;
}
.menu-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: fit-content;
  padding: 1.2rem;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.4s;
}
.menu-item:hover {
  background-color: #c4c4c425;
}
.menu-icon {
  color: #f6f6f6;
  font-size: 2.4rem;
}

.menu-item-text {
  font-size: 1.8rem;
  color: #ddd;
}

.menu-post-btn {
  background-color: #1da1f2;
  border: none;
  color: #f6f6f6;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem 0rem;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.4s;
}

.menu-post-btn:hover {
  background-color: #1a88cc;
}
.menu-profile-div {
  padding: 0.5rem;
  border-radius: 12px;
  transition: all 0.4s;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.menu-profile-div:hover {
  background-color: #c4c4c425;
}
.menu-profile-img {
  height: 3.3rem;
  width: 3.3rem;
  border-radius: 50%;
}
.menu-profile-username {
  font-size: 1.6rem;
  color: #ddd;
}
/* profile section */
.profile-section {
  grid-column: 2;
}
.post-sticky-heading {
  border-bottom: 1px solid #4e4e4e;
  border-left: 1px solid #4e4e4e;
  display: flex;
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: rgb(21, 32, 43);
  z-index: 999;
}
.post-sticky-heading i {
  color: #f6f6f6;
  font-size: 2.4rem;
  cursor: pointer;
}

.post-sticky-heading p {
  font-size: 2rem;
  color: #f6f6f6;
  justify-self: center;
}
.profile-background-picture {
  background-color: #7e7e7e;
  height: 20rem;
}
.profile-info {
  position: relative;
  border: 1px solid #4e4e4e;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
}
.profile-img {
  height: 15rem;
  border-radius: 50%;
  transform: translateY(-50%);
  margin-left: 2rem;
  cursor: pointer;
  object-fit: cover;
}
.edit-profile-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: rgb(21, 32, 43);
  color: #f6f6f6;
  font-size: 1.5rem;
  border: 1px solid #f6f6f6;
  padding: 0.7rem;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.4s;
  font-weight: bold;
}

.edit-profile-btn:hover {
  background-color: #f6f6f6;
  border: 1px solid rgb(21, 32, 43);
  color: rgb(21, 32, 43);
}
.profile-stats {
  transform: translateY(-40%);
}
.profile-name {
  font-size: 2rem;
  color: #f6f6f6;
  padding: 0.5rem 2rem;
}
.profile-stats p {
  padding: 2rem;
  padding-right: 0;
  display: inline;
  font-size: 1.7rem;
  color: #8a8a8a;
  cursor: pointer;
}

.profile-stats p span {
  color: #f6f6f6;
  font-weight: bold;
}
.profile-nav {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.profile-nav-item {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.6rem;
  color: #f6f6f6;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.4s;
  font-weight: bold;
}
.profile-nav-item:hover {
  background-color: #f6f6f6;
  color: rgb(21, 32, 43);
}
.selected-nav-item {
  background-color: #f6f6f6;
  color: rgb(21, 32, 43);
}

.post-container {
  list-style-type: none;
  border: 1px solid #4e4e4e;
  height: 100%;
  border-top: none;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post {
  width: 100%;
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: 4rem auto 1fr 3rem;
  align-items: center;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #4e4e4e;
}
.publisher-profile-photo {
  height: 3.7rem;
  width: 3.7rem;
  border-radius: 50%;
  grid-template-columns: 1;
  grid-row: 1;
  margin-left: 1rem;
  margin-top: 1rem;
  background-color: #4e4e4e;
}
.publisher-name {
  display: flex;
  align-items: center;
  grid-column: 2;
  grid-row: 1;
  font-size: 1.8rem;
  color: #ddd;
  gap: 0.3rem;
  margin-left: 1rem;
}
.publisher-name span {
  color: #4e4e4e;
  font-size: 1.4rem;
}
.publisher-name i {
  margin-left: auto;
  cursor: pointer;
}
.img-div {
  grid-row: 3;
  grid-column: 2;
}
.post-text {
  grid-row: 2;
  grid-column: 2;
  padding: 1rem;
  padding-top: 0;
  color: #929292;
  font-size: 1.5rem;
}
.post-img {
  width: 100%;
  height: 35rem;
  object-fit: cover;
  border-radius: 16px;
  background-color: #4e4e4e;
}
.post-interaction {
  grid-column: 2;
  grid-row: 4;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.interaction-div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem;
  border-radius: 9px;
  transition: all 0.4s;
}

.number {
  font-size: 1.3rem;
  color: #b4b4b4;
  cursor: default;
}
.icon {
  font-size: 1.8rem;
  cursor: pointer;
  color: #ddd;
}
.save-icon {
  margin-left: auto;
}

/* Webkit Browsers */
::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar width */
}

::-webkit-scrollbar-track {
  background: #777777; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: rgb(21, 32, 43); /* Thumb color */
  border-radius: 3px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(28, 40, 53); /* Slightly lighter shade on hover */
}

/* Firefox */
html {
  scrollbar-color: rgb(21, 32, 43) #777777; /* Thumb color | Track color */
  scrollbar-width: thin; /* Thin scrollbar */
}
.bio {
  font-size: 1.4rem;
  color: #7e7e7e;
  padding: 0.5rem 2rem;
  padding-bottom: 1rem;
}

/* 
 */
.show-more-btn {
  margin-top: 2rem;
  align-self: center;
  background-color: transparent;
  color: #f6f6f6;
  border: 1px solid #f6f6f6;
  padding: 0.8rem;
  border-radius: 12px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.4s;
  font-weight: bold;
}
.show-more-btn:hover {
  background-color: #f6f6f6;
  color: rgb(21, 32, 43);
}
.cRed {
  color: #780606;
}
.cDdd {
  color: #ddd;
}
